In [4]:
import pandas as pd
from sqlalchemy import create_engine
sqlitepath = '/Users/Nonis/desktop/ih_datamadpt0420_project_m1/data/raw/raw_data_project_m1.db'
engine = create_engine(f'sqlite:///{sqlitepath}')

In [5]:
#tables in database
pd.read_sql_query("select name from sqlite_master where type='table'", engine)

            name
0  personal_info
1   country_info
2    career_info
3      poll_info

In [36]:
#all query
df_data_project = pd.read_sql_query("""SELECT * FROM career_info cif  
inner join poll_info pif on cif.uuid = pif.uuid  
inner join country_info ci on ci.uuid = pif.uuid 
inner join personal_info pi on pi.uuid = ci.uuid""",engine)

df_data_project.head()

,uuid,dem_education_level,dem_full_time_job,normalized_job_code,uuid,question_bbi_2016wave4_basicincome_awareness,question_bbi_2016wave4_basicincome_vote,question_bbi_2016wave4_basicincome_effect,question_bbi_2016wave4_basicincome_argumentsfor,question_bbi_2016wave4_basicincome_argumentsagainst,uuid,country_code,rural,uuid,age,gender,dem_has_children,age_group
0,f6e7ee00-deac-0133-4de8-0a81e8b09a82,no,no,None,f6e7ee00-deac-0133-4de8-0a81e8b09a82,I know something about it,I would not vote,None of the above,None of the above,None of the above,f6e7ee00-deac-0133-4de8-0a81e8b09a82,AT,countryside,f6e7ee00-deac-0133-4de8-0a81e8b09a82,61 years old,male,NO,40_65
1,54f0f1c0-dda1-0133-a559-0a81e8b09a82,high,yes,861a9b9151e11362eb3c77ca914172d0,54f0f1c0-dda1-0133-a559-0a81e8b09a82,I understand it fully,I would probably vote for it,A basic income would not affect my work choices,It increases appreciation for household work a...,It might encourage people to stop working,54f0f1c0-dda1-0133-a559-0a81e8b09a82,AT,urban,54f0f1c0-dda1-0133-a559-0a81e8b09a82,57 years old,male,yES,40_65
2,83127080-da3d-0133-c74f-0a81e8b09a82,None,no,None,83127080-da3d-0133-c74f-0a81e8b09a82,I have heard just a little about it,I would not vote,‰Û_ gain additional skills,It creates more equality of opportunity,Foreigners might come to my country and take a...,83127080-da3d-0133-c74f-0a81e8b09a82,AT,city,83127080-da3d-0133-c74f-0a81e8b09a82,32 years old,male,nO,26_39
3,15626d40-db13-0133-ea5c-0a81e8b09a82,high,yes,049a3f3a2b5f85cb2971ba77ad66e10c,15626d40-db13-0133-ea5c-0a81e8b09a82,I have heard just a little about it,I would probably vote for it,‰Û_ work less,It reduces anxiety about financing basic needs,None of the above,15626d40-db13-0133-ea5c-0a81e8b09a82,AT,Country,15626d40-db13-0133-ea5c-0a81e8b09a82,45 years old,Male,YES,40_65
4,24954a70-db98-0133-4a64-0a81e8b09a82,high,yes,f4b2fb1aa40f661488e2782b6d57ad2f,24954a70-db98-0133-4a64-0a81e8b09a82,I have heard just a little about it,I would probably vote for it,None of the above,It reduces anxiety about financing basic needs,It is impossible to finance | It might encoura...,24954a70-db98-0133-4a64-0a81e8b09a82,AT,city,24954a70-db98-0133-4a64-0a81e8b09a82,41 years old,Fem,yES,40_65

In [21]:
#personal info
df_personal = pd.read_sql_query("select * from personal_info", engine)
df_personal

,uuid,age,gender,dem_has_children,age_group
0,f6e7ee00-deac-0133-4de8-0a81e8b09a82,61 years old,male,NO,40_65
1,54f0f1c0-dda1-0133-a559-0a81e8b09a82,57 years old,male,yES,40_65
2,83127080-da3d-0133-c74f-0a81e8b09a82,32 years old,male,nO,26_39
3,15626d40-db13-0133-ea5c-0a81e8b09a82,45 years old,Male,YES,40_65
4,24954a70-db98-0133-4a64-0a81e8b09a82,41 years old,Fem,yES,40_65
...,...,...,...,...,...
9644,7d1ac020-dcb4-0133-817a-0a81e8b09a82,37 years old,FeMale,nO,26_39
9645,39f989f0-db52-0133-8482-0a81e8b09a82,53 years old,Male,yES,40_65
9646,70ce4a90-d965-0133-f5e4-0a81e8b09a82,1992,male,NO,juvenile
9647,2896e440-db3c-0133-5b67-0a81e8b09a82,47 years old,male,yES,40_65
9648,06217ba0-dd56-0133-edda-0a81e8b09a82,51 years old,FeMale,YES,40_65

In [28]:
df_personal['age'].unique()

array(['61 years old', '57 years old', '32 years old', '45 years old',
       '41 years old', '1990', '47 years old', '34 years old', '1994',
       '49 years old', '58 years old', '1991', '40 years old',
       '37 years old', '48 years old', '31 years old', '1999', '1989',
       '2001', '35 years old', '51 years old', '1988', '42 years old',
       '33 years old', '64 years old', '38 years old', '55 years old',
       '1992', '1993', '36 years old', '46 years old', '1998',
       '44 years old', '1996', '65 years old', '1995', '52 years old',
       '2002', '50 years old', '1997', '43 years old', '1987', '1986',
       '39 years old', '53 years old', '62 years old', '2000',
       '54 years old', '56 years old', '59 years old', '60 years old',
       '63 years old'], dtype=object)

In [20]:
#country_info
df_country = pd.read_sql_query("select * from country_info", engine)
df_country

                                      uuid country_code        rural
0     f6e7ee00-deac-0133-4de8-0a81e8b09a82           AT  countryside
1     54f0f1c0-dda1-0133-a559-0a81e8b09a82           AT        urban
2     83127080-da3d-0133-c74f-0a81e8b09a82           AT         city
3     15626d40-db13-0133-ea5c-0a81e8b09a82           AT      Country
4     24954a70-db98-0133-4a64-0a81e8b09a82           AT         city
...                                    ...          ...          ...
9644  7d1ac020-dcb4-0133-817a-0a81e8b09a82           SK        urban
9645  39f989f0-db52-0133-8482-0a81e8b09a82           SK        urban
9646  70ce4a90-d965-0133-f5e4-0a81e8b09a82           SK    Non-Rural
9647  2896e440-db3c-0133-5b67-0a81e8b09a82           SK         city
9648  06217ba0-dd56-0133-edda-0a81e8b09a82           SK         city

[9649 rows x 3 columns]

In [18]:
#career info
df_career = pd.read_sql_query("select * from career_info", engine)
df_career

,uuid,dem_education_level,dem_full_time_job,normalized_job_code
0,f6e7ee00-deac-0133-4de8-0a81e8b09a82,no,no,None
1,54f0f1c0-dda1-0133-a559-0a81e8b09a82,high,yes,861a9b9151e11362eb3c77ca914172d0
2,83127080-da3d-0133-c74f-0a81e8b09a82,None,no,None
3,15626d40-db13-0133-ea5c-0a81e8b09a82,high,yes,049a3f3a2b5f85cb2971ba77ad66e10c
4,24954a70-db98-0133-4a64-0a81e8b09a82,high,yes,f4b2fb1aa40f661488e2782b6d57ad2f
...,...,...,...,...
9644,7d1ac020-dcb4-0133-817a-0a81e8b09a82,high,yes,847165cfda6b1dc82ae22b967da8af2f
9645,39f989f0-db52-0133-8482-0a81e8b09a82,high,yes,a4d5b8b38f9513825d0d94a981ebe962
9646,70ce4a90-d965-0133-f5e4-0a81e8b09a82,low,no,None
9647,2896e440-db3c-0133-5b67-0a81e8b09a82,low,yes,775190277a849cba701b306a7b374c0a
9648,06217ba0-dd56-0133-edda-0a81e8b09a82,high,yes,8a7a3f1bce0958ae9f090683e5a925b7

In [25]:
df_career['normalized_job_code'].value_counts()

775190277a849cba701b306a7b374c0a    101
d4624ed8068d24948e18303212593cd6     88
dac2e921c1f887d9efc4c06fa33c1397     88
fcaf4aac737e53ad24b9f32f08b8740f     88
049a3f3a2b5f85cb2971ba77ad66e10c     88
                                   ...
58eaf730050d2e23c7361fbb782e30a2      6
7aecc34a90868aac810bf3693b11534e      5
5285758deb04c98f58cbae2747195f33      5
b42566382f2d3deeca56d3667004fc9e      4
631bc3a12ed11340fc94ebfffa8f5f4e      4
Name: normalized_job_code, Length: 156, dtype: int64

In [19]:
#poll_info info
df_poll = pd.read_sql_query("select * from poll_info", engine)
df_poll

,uuid,question_bbi_2016wave4_basicincome_awareness,question_bbi_2016wave4_basicincome_vote,question_bbi_2016wave4_basicincome_effect,question_bbi_2016wave4_basicincome_argumentsfor,question_bbi_2016wave4_basicincome_argumentsagainst
0,f6e7ee00-deac-0133-4de8-0a81e8b09a82,I know something about it,I would not vote,None of the above,None of the above,None of the above
1,54f0f1c0-dda1-0133-a559-0a81e8b09a82,I understand it fully,I would probably vote for it,A basic income would not affect my work choices,It increases appreciation for household work a...,It might encourage people to stop working
2,83127080-da3d-0133-c74f-0a81e8b09a82,I have heard just a little about it,I would not vote,‰Û_ gain additional skills,It creates more equality of opportunity,Foreigners might come to my country and take a...
3,15626d40-db13-0133-ea5c-0a81e8b09a82,I have heard just a little about it,I would probably vote for it,‰Û_ work less,It reduces anxiety about financing basic needs,None of the above
4,24954a70-db98-0133-4a64-0a81e8b09a82,I have heard just a little about it,I would probably vote for it,None of the above,It reduces anxiety about financing basic needs,It is impossible to finance | It might encoura...
...,...,...,...,...,...,...
9644,7d1ac020-dcb4-0133-817a-0a81e8b09a82,I understand it fully,I would probably vote for it,‰Û_ spend more time with my family,It reduces bureaucracy and administrative expe...,It is impossible to finance
9645,39f989f0-db52-0133-8482-0a81e8b09a82,I have never heard of it,I would probably vote against it,A basic income would not affect my work choices,It reduces bureaucracy and administrative expe...,It might encourage people to stop working | On...
9646,70ce4a90-d965-0133-f5e4-0a81e8b09a82,I have heard just a little about it,I would not vote,‰Û_ spend more time with my family,It reduces anxiety about financing basic needs,None of the above
9647,2896e440-db3c-0133-5b67-0a81e8b09a82,I understand it fully,I would vote for it,A basic income would not affect my work choices,It reduces bureaucracy and administrative expe...,Foreigners might come to my country and take a...
9648,06217ba0-dd56-0133-edda-0a81e8b09a82,I understand it fully,I would vote against it,A basic income would not affect my work choices,It reduces bureaucracy and administrative expe...,It might encourage people to stop working | It...

In [26]:
df_poll['uuid'].value_counts()

c980e1e0-d93a-0133-bce4-0a81e8b09a82    1
776af210-d8aa-0133-69c5-0a81e8b09a82    1
4fd071a0-da35-0133-f32a-0a81e8b09a82    1
6462ce20-d8ff-0133-c1b0-0a81e8b09a82    1
72ce1620-d9a5-0133-a9eb-0a81e8b09a82    1
                                       ..
9bfec210-da44-0133-8646-0a81e8b09a82    1
7ac1d540-db2b-0133-d105-0a81e8b09a82    1
29e43400-dd3a-0133-0f10-0a81e8b09a82    1
78b4b6e0-d9b7-0133-9b60-0a81e8b09a82    1
bb971180-da1e-0133-f8c7-0a81e8b09a82    1
Name: uuid, Length: 9649, dtype: int64